render(
  React.createElement(
    'h1', null, 'Hello, world!'
  ),
  mountNode
)

/*render(
  React.createElement('div', null, [
    React.createElement(
      'h1', null, 'Hello, world!'
    ),
    React.createElement(
      'img', {src: './assets/hello.gif'}
    ),
  ]),
  mountNode
)*/
