function logProps(WrappedComponent) {
  return class extends React.Component {

    componentWillReceiveProps(nextProps) {
      console.log(`Next props: ${nextProps}`);
    }

    render() {
      return (
        <WrappedComponent {...this.props} />;
      )
    }
  }
}

